Duplicate usage of JWS Client Assertion for client authentication

In "Attempting reuse of client2's authorisation code & testing if access token is revoked", the test code tries to check whether an authorization server (keycloak) returns error following RFC 6749 section 5 when it receives the same authorization code that has already been used and the corresponding tokens has been issued in return to it.

In test codes,  the client generated the JWS Client Assertion for client authentication and sent it along with an authorization code to an authorization server. The authorization server returned an tokens in return to this authorization code. Next, the client send the same JWS Client Assertion for client authentication along with the same authorization code to the authorization server. The test codes expected the authorization server returns 400 Bad Requestでerror=invalid_grant. However, keycloak returned 400 Bad Reqeust error=unauthorizad_client.

The reason why is that keycloak seemed to judge that Replay Attack occured. The test codes use the same JWS Client Assertion on the first and second time for aquiring tokens.

I think the test codes should use the different  JWS Client Assertion on each first and second time for aquiring tokens because this test case is for checking duplicate usage of Authorization Code.

As an aside, the same test case in [MTLS] test plan returns SUCCESS because [MTLS] test plan adopt [MTLS] section 2 as client authentication, not JWS Client Assertion.

https://github.com/jsoss-sig/keycloak-fapi/issues/27